{% if sideQuests | length > 0 %}
    <div class="side-quest">
        <h2 class="quest-type">Quêtes Secondaires</h2>
        {% for sideQuest in sideQuests %}
            <div class="content">
                <h3 class="quest-name">{{ sideQuest.quest.name }}</h3>
                {% for playerQuestStep in this.character.playerQuestSteps %}
                    {% if playerQuestStep.questStep.quest  == sideQuest.quest %}
                        {{ playerQuestStep.questStep.description | raw }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endif %}
