.screen {
  @include displayFlex(space-between, center, null, column);
  width: 100%;
  height: 100%;

  .screen-footer {
    .description {
      p {
        @extend .appears;
        animation-delay: 2s;
      }
    }
  }

  @import "cinematic";
  @import "place";
  @import "dialogue";
}
