{% extends 'base.html.twig' %}

{% block body %}
    {% include '_alert.html.twig' %}

    <a href="{{ path('app_game_character_create_home') }}"
       class="app-button back">
        {{ ux_icon('zondicons:close-solid', {'class': 'app-icon'}) }}
    </a>

    <main class="app-main">
        {% block main %}{% endblock %}
    </main>
{% endblock %}
