{% extends 'game/_layout/_character/_sheet/_index.html.twig' %}

{% block title %}Mon Personnage{% endblock %}

{% block body_class %}game character sheet{% endblock %}

{% block main %}
    <a href="/{{ back }}" class="app-button back">
        {{ ux_icon('zondicons:close-solid', {'class': 'app-icon'}) }}
    </a>

    <section class="app-section">
        {{ component('PlayerSheet', { character: character }) }}
    </section>
{% endblock %}
