&.details {
  .subtitle {
    @include displayGrid(3rem 1fr auto, 0.25rem);
    align-items: center;
    margin-bottom: 0.75rem;

    .level,
    .experience {
      @include displayFlex(null, center, 0.25rem);
      font-family: $font-secondary;
      font-size: 1rem;
      font-weight: bold;
      color: $primary;

      .app-icon {
        height: 1.5rem;
      }
    }

    .level {
      justify-content: flex-start;
    }

    .experience {
      justify-content: flex-end;
      font-size: 0.75rem;

      a {
        @include displayFlex(null, center, 0.25rem);
        color: inherit;
      }
    }

    .sheet-subtitle {
      margin-bottom: 0;
    }
  }

  .infos {
    @include displayGrid(1fr 8.5rem, 0.5rem);
    margin-bottom: 0.5rem;
    font-family: $font-secondary;
    font-weight: bold;
    color: $primary;

    .characteristics {
      .characteristic {
        @include displayGrid(1fr 3rem, 0.5rem);
        align-items: center;
        margin-bottom: 0.5rem;

        &:last-child {
          margin-bottom: 0;
        }

        .name,
        .value {
          padding: 0.5rem;
          background-color: rgba($white, 0.25);
          border-radius: 0.5rem;
          box-shadow: inset 1px 1px 2px rgba($black, 0.85);
        }

        .name {
          text-align: left;
        }

        .value {
          text-align: center;
        }
      }
    }

    .attributes {
      @include displayFlex(space-between, center, null, column);
      padding: 0.5rem;
      text-align: center;
      background-color: rgba($white, 0.25);
      border-radius: 0.5rem;
      box-shadow: inset 1px 1px 2px rgba($black, 0.85);

      .metrics {
        @include displayGrid(repeat(2, 1fr), 0.75rem);

        &.app-grid {
          grid-gap: 0.25rem;

          &.three {
            @include displayGrid(repeat(3, 1fr), 0.25rem);

            .metric {
              font-size: 0.85rem;

              .app-icon {
                height: 2rem;
              }
            }
          }
        }

        .metric {
          margin-bottom: 0.5rem;
          font-size: 1rem;
          text-align: center;

          .app-icon {
            display: block;
            margin: 0 auto 0.25rem;
            height: 2.75rem;
          }

          small {
            font-family: $font-primary;
            font-size: 1rem;
            vertical-align: text-bottom;
          }
        }
      }

      .fortune {
        font-size: 1rem;

        .app-icon {
          display: block;
          margin: 0 auto;
          width: 3rem;
          height: 3rem;
          filter: drop-shadow(1px 1px 2px rgba($black, 0.85));
        }
      }
    }
  }

  .description {
    overflow-y: auto;
    max-height: 14dvh;
    padding: 0.25rem 0.5rem 0.25rem 0.25rem;
    font-size: 1.25rem;
    text-align: justify;
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    color: $primary;

    @include respondTo('md') {
      max-height: 17dvh;
    }

    p {
      margin-bottom: 0.5rem;
    }
  }
}
