.form-fieldset {
  margin-bottom: 1.5rem;
  padding: 1.5rem 1rem 1rem;
  background-color: $white;
  border: 0.25rem groove $secondary;
  border-radius: 0.5rem;
  box-shadow: inset 2px 2px 0.25rem rgba($black, 0.85);

  &.controls {
    margin-bottom: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;

    @import "../../components/form/submit";
  }

  @import "../../components/form/legend";
}
