&.home {
  .app-main {
    @include displayFlex(center, center, null, column);
    width: 100%;
    flex: 1;

    .app-section {
      @include displayFlex(center, center, null, column);
      padding: 0;
      flex: 1;
      width: 100%;

      & > div {
        @include displayFlex(center, center, null, column);
        flex: 1;
        padding: 0;
        width: 100%;
      }
    }
  }

  @import "../../layout/screen";
}
