&.game {
  position: relative;
  overflow: hidden;
  @include displayFlex(space-between, center, null, column);
  height: calc(100dvh - 1rem);
  font-family: $font-primary;
  font-size: 1rem;
  color: $white;
  background-color: $black;
  border: 0.5rem groove $secondary;
  border-radius: 2rem;

  @import "./character";
  @import "./home";
  @import "./map";
}
