.screen-main {
  .infos {
    position: absolute;
    top: 5.5rem;
    @include displayFlex(center, center, 0.5rem, column);

    &.left {
      left: 1rem;
    }

    &.right {
      right: 1rem;
    }

    .info {
      @include displayFlex(space-between, center, 0.25rem);
      padding: 0.25rem;
      width: calc(100% - 1rem);
      font-family: $font-primary;
      font-size: 1.25rem;
      font-weight: bold;
      color: $white;
      background-color: rgba($secondary, 0.95);
      border: 0.25rem groove $secondary;
      border-radius: 0.5rem;
      overflow: hidden;
      box-shadow: 0.25rem 0.25rem 0.5rem rgba($black, 0.85);

      .app-icon {
        width: 1.75rem;
        height: 1.75rem;
        filter: drop-shadow(1px 1px 2px rgba($white, 0.5));
      }

      &.fortune {
        .app-icon {
          filter: drop-shadow(1px 1px 2px rgba($black, 0.85));
        }
      }
    }
  }
}
