{% extends '_layout/_index.html.twig' %}

{% block title %}Connexion - Les Huit Royaumes - Chapitre I : L'Éveil{% endblock %}

{% block body_class %}front-office form login{% endblock %}

{% block main %}
    {% include '_layout/_header.html.twig' %}

    <section class="app-section">
        <form class="app-form" method="post">
            <fieldset class="form-fieldset">
                <legend class="form-legend">Connectez-vous</legend>

                <div class="form-group">
                    <label class="form-label required" for="username">Votre e-mail</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus/>
                </div>

                <div class="form-group">
                    <label class="form-label required" for="password">Votre mot de passe</label>
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required/>
                </div>
            </fieldset>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="app-button cta" type="submit">Connexion</button>

            <p>
                <a href="{{ path('app_register') }}" class="app-button outline">
                    <small>Pas de compte ?</small>
                    Inscription
                </a>
            </p>
        </form>
    </section>
{% endblock %}
