{% extends 'back_office/_layout/_index.html.twig' %}

{% block title %}Bienvenue à toi, Administrateur{% endblock %}

{% block body_class %}back-office home{% endblock %}

{% block main %}
    <section class="app-section">
        <h1>Accueil Back Office</h1>
    </section>
{% endblock %}
