<div class="map-content location {% if this.activeContent == 'location' %}active{% endif %}">
    <figure>
        <img src="{{ asset('img/chapter1/map/' ~ this.location.map) }}" alt="{{ this.location.name }}"/>
    </figure>
</div>
