<div class="map-content realm {% if this.activeContent == 'realm' %}active{% endif %}">
    <figure>
        <img src="{{ asset('img/chapter1/map/' ~ this.location.parent.map) }}" alt="{{ this.location.parent.name }}"/>
    </figure>
</div>
