<header class="app-header">
    <a href="{{ path('app_front_office_home') }}" class="app-logo">
        <img src="{{ asset('img/core/logo.png') }}" alt="Logo - Les Huit Royaumes"/>
    </a>

    <h1>Les Huit Royaumes</h1>
    <p class="app-slogan">Chapitre I&nbsp;:&nbsp;L'Éveil</p>
</header>
