.map-content {
  display: none;
  opacity: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  width: 100%;
  text-align: center;
  transition: opacity 0.5s ease;

  &.active {
    display: flex;
    opacity: 1;
  }

  @import "./realm";
  @import "./location";
  @import "./walk";
  @import "./travel";
}
