&.travel {
  .map-subtitle {
    margin: 2rem;
    padding: 0.5rem;
    color: $white;
    background-color: rgba($secondary, 0.85);
    border: 0.25rem groove $secondary;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 0.25rem rgba($black, 0.85);
    text-shadow: 2px 2px 0.25rem rgba($black, 0.85);

    small {
      display: block;
      margin-bottom: 0.5rem;
      font-family: $font-primary;
      font-size: 0.85rem;
    }
  }

  .app-grid {
    @extend .appears;
  }
}
