::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: $secondary;
  box-shadow: inset 2px 2px 0.25rem rgba($black, 0.5);
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background: $third;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background: $third;
  border-radius: 0.25rem;
}

html {
  .turbo-progress-bar {
    height: 0.5rem;
    background-color: $third;
    border-bottom-right-radius: 0.25rem;
  }

  body {
    position: relative;
    overflow: hidden;
    @include displayFlex(space-between, center, null, column);
    margin: 0 auto;
    max-width: calc(600px - 1rem);
    height: calc(100dvh - 1rem);
    font-family: $font-primary;
    font-size: 1rem;
    color: $black;
    background-color: $black;
    border: 0.5rem groove $secondary;

    @import "./header";
    @import "./main";

    @import "../../pages/home";
    @import "../../pages/sheet";
    @import "../../pages/character";
    @import "../../pages/game";
    @import "../../pages/map";
  }
}
