<div class="app-screen interaction" data-loading="addClass(loading)">
    <img src="{{ asset('img/' ~ this.activeScreen.npc.picture) }}" class="app-wallpaper" alt="{{ this.activeScreen.npc.name }}"/>

    {% include 'game/default/_component/_interaction/_header/_index.html.twig' %}

    {% include 'game/default/_component/_interaction/_main.html.twig' %}

    {% include 'game/default/_component/_interaction/_footer/_index.html.twig' %}
</div>
