.map-header {
  margin: 1rem;
  width: calc(100% - 2rem);
  text-align: center;

  .header-title {
    h1 {
      margin-bottom: 0;
      font-size: 1.5rem;

      small {
        display: block;
        margin-bottom: 1rem;
        font-family: $font-primary;
        font-weight: bold;
      }
    }
  }
}
