&.back-office {
  overflow: hidden;
  @include displayFlex(flex-start, center, null, column);
  height: 100dvh;

  .app-header {
    @include displayFlex(space-between, center, 0.5rem);
    padding: 0.5rem 3.5rem 0.5rem 0.5rem;
    width: calc(100% - 4rem);
    text-align: center;
    background-color: $secondary;

    .app-logo {
      margin-bottom: 0.5rem;
      display: inline-block;

      img {
        display: inline-block;
        height: 4rem;
      }
    }

    .app-sitename {
      flex: 1;

      h1,
      .app-slogan {
        text-shadow: 2px 2px 0.25rem rgba($black, 0.85);
      }

      h1 {
        font-size: 1.5rem;
      }

      .app-slogan {
        font-family: $font-secondary;
        font-size: 1.25rem;
        font-weight: bold;
      }
    }
  }

  .app-main {
    overflow-y: auto;
    width: 100%;
    flex: 1;
    background-color: $secondary;
  }
}
