&.back-office {
  min-height: 100dvh;
  max-width: none;
  background-color: $black;

  .app-header {
    position: sticky;
    top: 0;
    z-index: 2;
    @include displayFlex(space-between, center, 0.5rem);
    padding: 0.5rem 3.5rem 0.5rem 0.5rem;
    text-align: center;
    background-color: $secondary;

    .pagetitle {
      @include displayFlex(center, center, 0.5rem);

      .app-logo {
        margin-bottom: 0.5rem;
        display: inline-block;

        img {
          display: inline-block;
          height: 5rem;
        }
      }

      .app-sitename {
        h1,
        .app-slogan {
          text-shadow: 2px 2px 0.25rem rgba($black, 0.85);
        }

        h1 {
          font-size: 1.5rem;
        }

        .app-slogan {
          font-family: $font-secondary;
          font-size: 1.25rem;
          font-weight: bold;
        }
      }
    }
  }

  .app-main {
    background-color: $black;
  }
}
