&.home {
  .app-header {
    .app-logo {
      img {
        height: 8rem;
      }
    }
  }

  .app-main {
    .app-section {
      p {
        margin-bottom: 3rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
