&.front-office {
  position: relative;
  overflow: hidden;
  @include displayFlex(space-between, center, null, column);
  height: calc(100dvh - 1rem);
  font-family: $font-primary;
  font-size: 1rem;
  color: $white;
  background-color: $black;
  border: 0.5rem groove $secondary;

  & > img {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(600px - 1rem);
    height: 100dvh;
    object-fit: cover;
  }

  .app-header {
    padding: 0.5rem;
    width: calc(100% - 1rem);
    text-align: center;

    .app-logo {
      margin-bottom: 1.5rem;
      display: inline-block;

      img {
        display: inline-block;
        height: 6rem;
      }
    }

    .app-slogan {
      font-family: $font-secondary;
      font-size: 1.5rem;
      font-weight: bold;
      text-shadow: 2px 2px 0.25rem rgba($black, 0.85);
    }
  }

  .app-main {
    @include displayFlex(space-between, center, null, column);
    width: 100%;
    flex: 1;

    .app-section {
      @include displayFlex(center, center, null, column);
      width: 100%;
      flex: 1;

      p {
        margin-bottom: 3rem;
      }
    }
  }

  @import "./home";
  @import "./form";
}
