.app-main {
  @include displayFlex(space-between, center, null, column);
  width: 100%;
  flex: 1;

  .app-section {
    @include displayFlex(center, center, null, column);
    width: 100%;
    flex: 1;
  }
}
