<div class="app-header">
    <a href="{{ path('app_home') }}" class="app-logo">
        <img src="{{ asset('img/core/logo.png') }}" alt="Les Huit Royaumes"/>
    </a>

    <div class="app-sitename">
        <h1>Les Huit Royaumes</h1>
        <h2>Chapitre I - L'Éveil</h2>
    </div>
</div>
