{% extends 'base.html.twig' %}

{% block body %}
    <img src="{{ asset('img/core/cover.webp') }}" alt="Les Huit Royaumes" class="app-cover"/>

    <div class="app-overlay"></div>

    {% include '_layout/default/_header.html.twig' %}

    <main class="app-main">
        {% block main %}{% endblock %}
    </main>
{% endblock %}
