{% extends 'base.html.twig' %}

{% block body %}
    <img src="{{ asset('img/core/cover.webp') }}" alt="Les Huit Royaumes" class="app-cover"/>

    <div class="app-overlay"></div>

    {% if app.user %}
        <a href="{{ path('app_logout') }}"
           class="exit"
           onclick="return window.confirm('Vous partez ?')">
            {{ ux_icon('streamline:emergency-exit-solid', {'class': 'app-icon'}) }}
        </a>
    {% endif %}

    {% include '_layout/default/_header.html.twig' %}

    <main class="app-main">
        {% include '_layout/_alert.html.twig' %}

        {% block main %}{% endblock %}
    </main>
{% endblock %}
