<div class="metrics">
    {% include 'character/sheet/_component/_details/_metrics/_characteristics.html.twig' %}

    {% include 'character/sheet/_component/_details/_metrics/_attributes.html.twig' %}
</div>
