.app-card {
  @include displayFlex(space-between, null, null, column);
  text-align: center;
  background-color: rgba($white, 0.5);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 0.25rem rgba($black, 0.85);

  & > a {
    @include displayFlex(space-between, null, null, column);
    height: 100%;
  }

  .card-header {
    img {
      display: block;
      width: 100%;
    }
  }

  .card-body {
    padding: 0.5rem;

    .card-title {
      font-size: 1.5rem;
      color: $primary;
      word-break: break-word;
      overflow-wrap: break-word;
      hyphens: auto;
    }

    .card-subtitle {
      font-size: 1.25rem;
      font-weight: bold;
      color: $primary;
      word-break: break-word;
      overflow-wrap: break-word;
      hyphens: auto;
    }
  }

  .card-footer {
    @include displayFlex(center);
    margin: 0 2px 0;
    width: calc(100% - 2px);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    overflow: hidden;

    a,
    button {
      @include displayFlex(center, center);
      flex: 1;
      padding: 0.25rem 0.5rem;
      color: $white;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  @import "./character";
  @import "./inventory";
}
