&.inventory {
  position: relative;
  box-shadow: inset 2px 2px 0.25rem rgba($black, 0.85);

  .card-header {
    & > a {
      @include displayFlex(center, center);
      width: 100%;
    }

    &:has(.infos) {
      img {
        margin-top: 2rem;
      }
    }

    img {
      margin: 0.25rem;
      width: 100%;
      height: 7.5dvh;
      object-fit: contain;
    }

    .gauge {
      margin: 0 0.25rem 0 0.5rem;
      width: calc(100% - 0.75rem);
    }

    .infos {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      @include displayFlex(center, center);
      flex: 1;
      margin: 2px 2px 0;

      .bonus {
        @include displayFlex(center, center, 0.25rem);
        flex: 1;
        padding: 0.25rem 0.5rem;
        font-size: 0.85rem;
        background-color: rgba($white, 0.75);
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;

        .app-icon {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }

  .card-body {
    .card-title {
      margin-bottom: 2px;
      font-size: 0.85rem;
    }
  }
}
