&.item {
  overflow: hidden;
  border: 3px double $white;

  &.equipped {
    box-shadow: inset 0.25rem 0.25rem 0.5rem rgba($black, 0.85);

    .card-header {
      .card-attributes {
        padding: 0.5rem 0.5rem 0.25rem;
        box-shadow: inset 0.25rem 0.25rem 0.5rem rgba($black, 0.85);
      }
    }

    .card-footer {
      button {
        &:first-child {
          margin-left: 0.3rem;
          margin-bottom: 1px;
          border-bottom-left-radius: 0.5rem;
        }
      }
    }
  }

  & > a {
    position: relative;
  }

  .card-header {
    &:has(.card-attributes) {
      .card-image {
        margin-top: 2rem;
      }
    }

    .card-image {
      margin-top: 0.5rem;
      height: 7.5dvh;
      object-fit: contain;
    }

    .card-attributes {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      @include displayFlex(center, center, 0.5rem);
      padding: 0.25rem;
      background-color: rgba($white, 0.85);
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;

      .card-attribute {
        @include displayFlex(center, center);
        flex: 1;
        font-size: 1.25rem;
        font-weight: bold;
        color: $primary;

        .app-icon {
          height: 1.25rem;
        }
      }
    }
  }

  .card-body {
    @include displayFlex(space-between, center, 0.25rem, column);
    flex: 1;

    .card-title {
      font-size: 0.85rem;
    }
  }
}
