&.item {
  & > a {
    position: relative;
  }

  .card-header {
    .card-image {
      margin-top: 2.5rem;
      height: 7.5dvh;
      object-fit: contain;
    }

    .card-attributes {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      @include displayFlex(center, center, 0.25rem);
      padding: 0.25rem;
      font-size: 1.5rem;
      font-weight: bold;
      color: $primary;
      background-color: rgba($white, 0.85);
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;

      .app-icon {
        height: 1.15rem;
      }
    }
  }

  .card-body {
    @include displayFlex(space-between, center, 0.25rem, column);
    flex: 1;

    .card-title {
      font-size: 0.85rem;
    }
  }
}
