{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}Bienvenue à toi, Aventurier{% endblock %}

{% block body_class %}front-office home{% endblock %}

{% block main %}
    <section class="app-section">
        <h1>Accueil Front Office</h1>
    </section>
{% endblock %}
