{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}Bienvenue à toi, Aventurier{% endblock %}

{% block body_class %}front-office home{% endblock %}

{% block main %}
    <section class="app-section">
        {% if app.user %}
            <p>
                <a href="{{ path('app_front_office_profile') }}" class="app-button outline">
                    <small>{{ app.user.name }}</small>
                    Mon Compte
                </a>
            </p>

            <p>
                <a href="#" class="app-button cta">
                    <small>Nouveau</small>
                    Personnage
                </a>
            </p>
        {% else %}
            <p>
                <a href="{{ path('app_front_office_register') }}" class="app-button">
                    <small>Nouveau Joueur</small>
                    Inscription
                </a>
            </p>

            <p>
                <a href="{{ path('app_login') }}" class="app-button cta">
                    <small>Déjà inscrit</small>
                    Connexion
                </a>
            </p>
        {% endif %}
    </section>
{% endblock %}
