{% extends 'game/_layout/_index.html.twig' %}

{% block title %}{{ screen.name }} - Les Huit Royaumes - Chapitre I : L'Éveil{% endblock %}

{% block body_class %}game screen {{ screen.type }}{% endblock %}

{% block main %}
    {% include 'game/screen/cinematic/_header.html.twig' %}

    <section class="screen-section">
        {{ screen.description | raw }}

        {{ component('CinematicScreen', {character: app.user.player, screen: screen}) }}
    </section>

    {% include 'game/screen/cinematic/_footer.html.twig' %}
{% endblock %}
