<div class="app-header">
    <img src="{{ asset('uploads/character/' ~ character.picture) }}" height="180" alt="{{ character.name }}"/>

    <div class="app-sitename">
        <h1>Les Huit Royaumes</h1>
        <h2>Chapitre I - L'Éveil</h2>
    </div>
</div>
