<div class="sheet-content details {% if this.activeContent == 'details' %}active{% endif %}" data-loading="addClass(loading)">
    {% include 'character/sheet/level/_component/_details/_metrics/_index.html.twig' %}

    {% include 'character/sheet/level/_component/_details/_description.html.twig' %}
</div>
