<div class="equipped-assets">
    {% include 'character/sheet/_component/_equipment/_assets/_ring.html.twig' %}

    {% include 'character/sheet/_component/_equipment/_assets/_scroll.html.twig' %}

    {% include 'character/sheet/_component/_equipment/_assets/_potion.html.twig' %}
</div>
