<p>
    <a href="{{ path('app_register') }}" class="app-button">
        <small>Nouveau Joueur</small>
        Inscription
    </a>
</p>

<p>
    <a href="{{ path('app_login') }}" class="app-button cta">
        <small>Déjà inscrit</small>
        Connexion
    </a>
</p>
