{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <h1>Les Huit Royaumes</h1>
    <h2>Chapitre I - L'Éveil</h2>
{% endblock %}
