{% extends '_layout/default/_index.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body_class %}home{% endblock %}

{% block main %}
    <a href="#" class="app-button cta">
        <small>Nouveau Joueur</small>
        Inscription
    </a>
    <a href="#" class="app-button">
        <small>Déjà inscrit</small>
        Connexion
    </a>
{% endblock %}
