<footer class="screen-footer">
    <div class="actions">
        {% for npc in this.currentScreen.npcs %}
            <button class="action">
                <img src="{{ asset('img/chapter1/npc/thumb_' ~ npc.picture) }}" alt="{{ npc.name }}"/>
            </button>
        {% endfor %}
    </div>

    <div class="description scrollable" data-controller="typewriter" data-typewriter-target="content">
        {{ this.currentScene.place.description | raw }}
    </div>
</footer>
