{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}Choisissez votre Personnage{% endblock %}

{% block body_class %}game character create{% endblock %}

{% block main %}
    <section class="app-section">
        <h2>Nouveau Personnage</h2>

        {% include 'game/character/create/default/_grid.html.twig' %}
    </section>
{% endblock %}
