{% extends 'front_office/_layout/_index.html.twig' %}

{% block title %}Choisissez un Personnage{% endblock %}

{% block body_class %}game character create{% endblock %}

{% block main %}
    <section class="app-section">
        <h2>Choisir un Personnage</h2>
    </section>
{% endblock %}
