<div {{ attributes }}>
    {% include 'game/screen/trade/_component/_header/_index.html.twig' %}
    {% include 'game/screen/trade/_component/_main/_index.html.twig' %}
    {% include 'game/screen/_component/_footer/_index.html.twig' %}
</div>
