<div class="app-tooltip"
     data-tooltip-target="tooltip"
     data-action="click->tooltip#close">
    <div class="tooltip-background" data-tooltip-target="background"></div>
    <div class="tooltip-body">
        <div class="tooltip-content">
            <div class="tooltip-header">
                <h3 class="tooltip-title">Épée Longue #{{ i }}</h3>

                <figure class="tooltip-picture">
                    <img src="{{ asset('img/core/item/weapon/sword_long.png') }}" alt="Item Test" class="tooltip-image"/>
                </figure>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti fuga itaque perspiciatis quibusdam quidem repellat reprehenderit sit tenetur! A atque ipsam iusto magni neque nihil non quod, repellat velit vitae?</p>
        </div>
    </div>
</div>
