<div class="equipped-item amulet" data-controller="tooltip">
    <img src="{{ asset('img/core/equipment/amulet.png') }}" class="placeholder" alt="Amulette"/>
    {% set characterItem = app_characterItemService.equippedItems(character).amulet %}
    {% if characterItem %}
        <a href="#" data-action="click->tooltip#open" title="{{ characterItem.item.name }}">
            <img src="{{ asset('img/core/item/amulet/' ~ characterItem.item.picture) }}"
                 class="equip"
                 alt="{{ characterItem.item.name }}"/>
        </a>
        {% include '_layout/_tooltip/_item.html.twig' with {characterItem: characterItem} %}
    {% endif %}
</div>
