&.spells {
  .categories {
    overflow-y: auto;
    max-height: 59dvh;

    @include respondTo('md') {
      max-height: 60dvh;
    }

    .name {
      margin: 0 0.25rem 0.5rem 0;
      padding: 0.5rem;
      font-size: 1.15rem;
      font-style: italic;
      color: $white;
      background-color: $primary;
      border-radius: 0.25rem;
      text-shadow: 1px 1px 2px rgba($white, 0.5);
    }

    .app-grid {
      margin-bottom: 1rem;
      padding-right: 0.5rem;

      @include respondTo('md') {
        grid-template-columns: repeat(4, 1fr);
      }

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0.5rem;
      }
    }
  }
}
