.app-screen {
  position: relative;
  box-sizing: border-box;
  @include displayFlex(space-between, center, null, column);
  flex: 1;
  padding: 1rem 0.5rem;
  width: 100%;
  @extend .appears;
  animation-delay: 1s;

  .app-wallpaper,
  .app-overlay {
    position: absolute;
    width: 100%;
    height: calc(100dvh - 1rem);
  }

  .app-wallpaper {
    @extend .appears;
    animation-delay: 0.5s;
  }

  .app-overlay {
    background-color: rgba($black, 0.25);
    @extend .appears;
    animation-delay: 0.75s;
  }

  .screen-main {
    flex: 1;
    width: 100%;
  }

  @import "./header";
  @import "./footer";

  @import "./cinematic";
  @import "./location";
  @import "./interaction";
  @import "./trade";
  @import "./combat";
}
