/* FONTS */
$font-primary: "Cormorant Garamond", serif;
$font-secondary: "Uncial Antiqua", system-ui;

/* COLORS */
$black: #222222;
$white: #ffffff;

$info: #17a2b8;
$success: #308846;
$warning: #ffc107;
$danger: #dc3545;

$primary: #3b5a40;
$secondary: #d9a066;
$third: #a63d40;
$fourth: #768ca1;
