.app-alert {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  z-index: 9998;
  padding: 1.5rem 1rem 1.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  background-color: $white;
  box-shadow: 0 0.25rem 0.75rem rgba($black, 0.85);
  @extend .appears;

  &.info {
    color: $white;
    background-color: $info;
  }

  &.success {
    color: $white;
    background-color: $success;
  }

  &.warning {
    color: $white;
    background-color: $warning;
  }

  &.danger {
    color: $white;
    background-color: $danger;
  }
}
