.app-button {
  box-sizing: border-box;
  display: block;
  padding: 1rem;
  width: 100%;
  font-family: $font-secondary;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: $white;
  background-color: rgba($fourth, 0.85);
  border: 0.25em groove $secondary;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 0.25rem rgba($black, 0.85);
  cursor: pointer;
  @extend .appears;
  animation-delay: 0.5s;

  &.cta {
    font-size: 1.75rem;
    background-color: rgba($primary, 0.85);
  }

  &.outline {
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-shadow: 2px 2px 0.25rem rgba($black, 0.85);
  }

  &.disabled {
    opacity: 0.65;
  }

  &.exit {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    display: inline;
    padding: 0;
    width: auto;
    color: $danger;
    background-color: transparent;
    border: none;
    box-shadow: none;
    filter: drop-shadow(1px 1px 1px rgba($black, 0.85));

    .app-icon {
      width: 2rem;
      height: 2rem;
    }
  }

  &.back {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    display: inline;
    padding: 0;
    width: auto;
    color: $white;
    background-color: transparent;
    border: none;
    box-shadow: none;
    filter: drop-shadow(1px 1px 1px rgba($black, 0.85));

    .app-icon {
      width: 2rem;
      height: 2rem;
    }
  }

  small {
    display: block;
    margin-bottom: 0.5rem;
    font-family: $font-primary;
    font-size: 0.75em;
  }
}
