.app-button {
  box-sizing: border-box;
  display: block;
  padding: 1rem;
  width: 100%;
  font-family: $font-secondary;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  background-color: rgba($fourth, 0.85);
  border: 0.25em groove $secondary;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 0.25rem rgba($black, 0.85);
  cursor: pointer;

  &.cta {
    font-size: 1.75rem;
    background-color: rgba($primary, 0.85);
  }

  &.outline {
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-shadow: 2px 2px 0.25rem rgba($black, 0.85);
  }

  &.disabled {
    opacity: 0.65;
  }

  small {
    display: block;
    margin-bottom: 0.5rem;
    font-family: $font-primary;
    font-size: 0.75em;
  }
}
