.app-popup {
  display: none;
  position: absolute;
  left: 0.25rem;
  right: 0.25rem;
  bottom: 14rem;
  z-index: 9999;

  @include respondTo(md) {
    bottom: 15rem;
  }

  &.is-active {
    display: block;
  }

  &.spellsbook {
    position: fixed;
    top: 6rem;
    left: 1rem;
    right: 0.5rem;
    max-height: 53dvh;

    .popup-body {
      .popup-content {
        display: block;
        padding: 0.25rem 0.25rem 0.5rem;
        width: calc(100% - 1.5rem);
        max-width: calc(600px - 2rem);
        background-color: rgba($secondary, 0.95);
        border: 0.25rem groove $secondary;
        border-radius: 0.5rem;

        .popup-title {
          margin: 0.5rem 0 1rem;
          text-shadow: 2px 2px 0.25rem rgba($black, 0.85);
        }

        .app-grid {
          overflow-y: auto;
          padding: 0 0.5rem 0.25rem 0;
          max-height: 46dvh;

          .app-card {
            &.spell {
              .card-header {
                .card-attributes {
                  .card-attribute {
                    font-size: 1rem;
                  }
                }

                .card-image {
                  margin-top: 2rem;
                }
              }
            }
          }
        }
      }
    }
  }

  .popup-body {
    .popup-content {
      position: relative;
      @include displayFlex(center, center, 0.25rem);
      width: 100%;
      max-width: calc(600px - 0.5rem);
      @extend .appears;
      animation-duration: 0.5s;

      @include respondTo(md) {
        gap: 1.5rem;
      }
    }
  }
}
