.app-tooltip {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  &.is-active {
    @include displayFlex(center, center);
    @extend .anim-appears;
    animation-delay: 0s;
    animation-duration: 0.5s;
  }

  .tooltip-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: rgba($black, 0.85);
  }

  .tooltip-body {
    position: relative;
    z-index: 4;
    padding: 1rem 0.5rem;
    margin: 0 1rem;
    max-width: calc(500px - 6rem);
    background-color: $white;
    border: 0.5rem groove $secondary;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba($black, 0.85);

    &:has(.tooltip-attribute) {
      padding-top: 4rem;
    }

    .tooltip-title,
    .tooltip-subtitle {
      margin-bottom: 0.5rem;
      text-align: center;
      color: $primary;
      text-shadow: none !important;
    }

    .tooltip-title {
      font-size: 1.25rem;
    }

    .tooltip-subtitle {
      font-family: $font-primary;
      font-size: 1.15rem;
      font-weight: bold;
    }

    .tooltip-attributes {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      @include displayFlex(space-evenly, center, 0.25rem);
      background-color: $secondary;
      border: 0.25rem groove $secondary;
      border-top: none;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      box-shadow: 2px 2px 0.25rem rgba($black, 0.85);

      .tooltip-attribute {
        @include displayFlex(center, center, 2px);
        padding: 0.5rem;
        font-family: $font-secondary;
        font-size: 1rem;
        font-weight: bold;
        font-style: italic;
        color: $primary;
      }
    }

    .tooltip-picture {
      margin-bottom: 0.5rem;
      text-align: center;

      .tooltip-image {
        margin-top: 0 !important;
        height: 23dvh !important;
      }
    }

    .gauge {
      margin: 0 2rem 1rem;
      width: calc(100% - 4rem);
    }

    .tooltip-description {
      overflow-y: auto;
      padding: 0.5rem;
      max-height: 20dvh;

      p {
        font-family: $font-primary;
        font-size: 1.25rem;
        font-weight: normal;
        text-align: justify;
        word-break: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
        color: $black;
      }
    }

    .tooltip-book-description {
      padding: 0.5rem;
      margin-bottom: 0.5rem;

      p {
        font-family: $font-primary;
        font-size: 1rem;
        font-weight: normal;
        text-align: justify;
        word-break: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
        color: $black;
      }
    }

    .tooltip-book-reader {
      position: relative;
      overflow: hidden;
    }

    .tooltip-book-pages {
      @include displayFlex(null, null, 0.5rem);
      overflow-x: auto;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      overflow-anchor: none;

      &::-webkit-scrollbar {
        height: 0.25rem;
      }

      &::-webkit-scrollbar-thumb {
        background: $secondary;
        border-radius: 0.25rem;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: $secondary;
        border-radius: 0.25rem;
      }
    }

    .tooltip-book-page {
      box-sizing: border-box;
      flex: 0 0 100%;
      padding-right: 0.25rem;
      scroll-snap-align: start;

      p {
        box-sizing: border-box;
        padding: 2rem 1rem;
        margin: 0 0.25em 0.5rem 0 !important;
        height: calc(100% - 0.5rem);
        font-family: $font-third;
        font-size: 1.15rem !important;
        line-height: 1.5rem;
        text-align: justify !important;
        word-break: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
        color: $white !important;
        background: url('/img/core/ui/parchment-texture.png') repeat,
        linear-gradient(rgba(217, 160, 102, 0.95), rgba(217, 160, 102, 0.9));
        background-size: cover;
        border-radius: 0.5rem;
        text-shadow: 1px 1px 2px rgba($black, 0.25);
        box-shadow: 2px 2px 0.25rem $black;

        @include respondTo(md) {
          padding: 4.5rem 2rem;
          line-height: 1.75rem;
        }
      }
    }

    .tooltip-book-controls {
      display: flex;
      justify-content: space-between;
      margin-top: 0.5rem;
    }

    .tooltip-book-arrow {
      padding: 0.3rem 0.6rem;
      font-size: 2rem;
      color: $secondary;
      background-color: transparent;
      border: none;
      text-shadow: 1px 1px 2px rgba($black, 0.85);
      cursor: pointer;
    }
  }
}
