::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: $secondary;
  box-shadow: inset 2px 2px 0.25rem rgba($black, 0.5);
}

::-webkit-scrollbar-thumb {
  background: $third;
}

::-webkit-scrollbar-thumb:hover {
  background: $third;
}

html {
  .turbo-progress-bar {
    height: 0.5rem;
    background-color: $third;
    border-bottom-right-radius: 0.25rem;
  }

  body {
    margin: 0 auto;
    max-width: calc(600px - 1rem);
    font-family: $font-primary;
    font-size: 1rem;
    color: $white;
    background-color: $black;

    @import "./header";
    @import "./main";

    @import "../pages/front-office";
    @import "../pages/back-office";
  }
}
