<header class="app-header">
    <a href="{{ path('app_back_office_home') }}" class="app-logo">
        <img src="{{ asset('img/core/logo.png') }}" alt="Logo - Les Huit Royaumes"/>
    </a>

    <div class="app-sitename">
        <h1>Les Huit Royaumes</h1>
        <p class="app-slogan">Administration du Jeu</p>
    </div>

    <a href="{{ path('app_logout') }}"
       class="app-button exit"
       onclick="return window.confirm('Quitter l\'administration du Jeu ?')">
        {{ ux_icon('streamline:emergency-exit-solid', {'class': 'app-icon'}) }}
    </a>
</header>
