<div class="sheet-content quests {% if this.activeContent == 'quests' %}active{% endif %}">
    <h3 class="sheet-subtitle">Journal des Quêtes</h3>

    <p class="text-primary text-center">
        <strong>
            Aucune quête en cours.
            <br/>
            Vous devriez peut-être parler à des gens…
        </strong>
    </p>
</div>
