<header class="app-header">
    <a href="{{ path('app_home') }}" class="app-logo" title="Retour à l'accueil">
        <img src="{{ asset('img/core/logo.png') }}" alt="Les Huit Royaumes"/>
    </a>

    <h1>Les Huit Royaumes</h1>
    <h2>Chapitre I&nbsp;:&nbsp;L'Éveil</h2>
</header>
