.screen-header {
  margin: 1rem;
  width: calc(100% - 2rem);
  @extend .anim-appears;
  animation-delay: 1s;
  animation-duration: 1.5s;

  h1 {
    font-size: 2rem;

    small {
      display: block;
      margin-bottom: 0.5rem;
      font-family: $font-primary;
      font-weight: bold;
    }
  }
}
