<footer class="screen-footer">
    {% for action in this.activeScreen.actions %}
        <button class="app-button cta" {{ live_action('doAction', {'id': action.id}) }}>
            {{ action.name }}
        </button>
    {% endfor %}
</footer>
