<footer class="screen-footer">
    {% if this.previousScreen %}
        <button class="app-button cta" {{ live_action('doAction', {'id': this.previousScreen.id, 'type': 'changeScreen'}) }}>
            Continuer
        </button>
    {% else %}
        {% for action in this.activeScreen.actions %}
            <button class="app-button cta" {{ live_action('doAction', {'id': action.id}) }}>
                {{ action.name }}
            </button>
        {% endfor %}
    {% endif %}
</footer>
