<div class="app-screen cinematic" data-loading="addClass(loading)">
    <img src="{{ asset('img/chapter1/screen/' ~ this.activeScreen.picture) }}" class="app-wallpaper" alt="{{ this.activeScreen.name }}"/>
    <div class="app-overlay"></div>

    {% include 'game/default/_component/_cinematic/_header.html.twig' %}

    {% include 'game/default/_component/_cinematic/_main.html.twig' %}

    {% include 'game/default/_component/_cinematic/_footer.html.twig' %}
</div>
