<main class="screen-main">
    <div class="description">
        {{ this.currentScene.description | raw }}
    </div>
    <div class="description">
        {{ this.currentScreenDescription | raw }}
    </div>
</main>
