&.map {
  .app-close {
    background-color: rgba($secondary, 0.85);
    border-radius: 50%;
  }

  .app-main {
    margin: 0;
    padding: 0;
    animation-delay: 1s;

    .app-map {
      @include displayFlex(space-between, center, null, column);
      width: 100%;
      height: 100%;
    }
  }
}
