.footer-actions {
  @include displayFlex(space-evenly, initial, 0.5rem);
  margin-bottom: 0.5rem;

  .app-button {
    opacity: 1;
    animation: none;

    &.cta {
      &:has(img) {
        position: relative;
        padding: 0;
        width: auto;
        height: initial;
        background-color: $secondary;

        img {
          display: block;
          height: 3rem;
          width: 3rem;
          object-fit: cover;

          &.combat {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 75%;
            height: 75%;
            z-index: 1;
            opacity: 0.85;
            transform: translate(-50%, -50%);
            filter: drop-shadow(0 0 0.25rem rgba($secondary, 0.5)) drop-shadow(0 0 0.5rem rgba($secondary, 0.5));
          }
        }

        .gauge {
          margin: 2px;
          width: calc(100% - 0.25rem);
          height: 0.3rem;
        }
      }
    }
  }

  .combat-action {
    &:has(.app-popup.is-active) {
      & > .app-button {
        @extend .focus;
      }
    }
  }

  .spell-action {
    &:has(.app-popup.is-active) {
      & > .app-button {
        @extend .focus;
      }
    }
  }
}
