.footer-actions {
  @include displayFlex(space-evenly, initial, 0.5rem);
  margin-bottom: 0.5rem;

  .app-button {
    opacity: 1;
    animation: none;

    &.cta {
      &:has(img) {
        padding: 0;
        width: auto;
        height: initial;
        background-color: $secondary;

        img {
          display: block;
          height: 3rem;
          width: 3rem;
          object-fit: cover;
        }

        .gauge {
          margin: 0 2px 0.25rem;
          width: calc(100% - 0.25rem);
          height: 0.3rem;
        }
      }
    }
  }
}
