{% extends '_layout/_index.html.twig' %}

{% block title %}Les Huit Royaumes - Chapitre I : L'Éveil{% endblock %}

{% block body_class %}game home{% endblock %}

{% block main %}
    <section class="app-section">
        Game home
    </section>
{% endblock %}
