<p class="reward">
    {% if this.hasReward and not this.isRewarded %}
        <button {{ live_action('getReward') }}>
            <img src="{{ asset('img/core/action/reward.png') }}" alt="Récompense"/>
        </button>
    {% elseif this.hasReward %}
        <small class="text-success">Récompense obtenue&nbsp;!</small>
    {% endif %}
</p>
