<div class="app-screen location" data-loading="addClass(loading)">
    <img src="{{ asset('img/chapter1/location/' ~ this.activeScreen.location.picture) }}" class="app-wallpaper" alt="{{ this.activeScreen.name }}"/>

    {% include 'game/default/_component/_location/_header/_index.html.twig' %}

    {% include 'game/default/_component/_location/_main.html.twig' %}

    {% include 'game/default/_component/_location/_footer/_index.html.twig' %}
</div>
