<div {{ attributes }}>
    <div class="app-sheet">
        {% if this.activeContent == 'details' %}
            {% set contentTitle = character.profession.name ~ ' ' ~ character.race.name %}
        {% elseif this.activeContent == 'spells' %}
            {% set contentTitle = 'Sortilèges' %}
        {% endif %}

        {% include 'character/sheet/level/_component/_header.html.twig' with {'contentTitle': contentTitle} %}

        {% include 'character/sheet/level/_component/_details/_index.html.twig' %}
        {% if character.profession.type == 'magical' %}
            {% include 'character/sheet/level/_component/_spells/_index.html.twig' %}
        {% endif %}
        {% include 'character/sheet/level/_component/_footer.html.twig' %}
    </div>
</div>
