<div class="level">
    <p>
        {{ ux_icon('material-symbols:diamond', {'class': 'app-icon text-primary'}) }}
        {{ this.character.level }}
    </p>

    <p>
        {{ ux_icon('healthicons:medium-level-outline', {'class': 'app-icon text-primary'}) }}
        {{ this.character.experience }}
    </p>
</div>
