<div class="footer-actions">
    {% if screen.actions.footer is defined %}
        {% for action in screen.actions.footer %}
            <a href="{{ path('app_game_screen_' ~ action.type, {'slug': action.slug}) }}" class="app-button cta" title="{{ action.label }}">
                <img src="{{ asset(action.thumbnail) }}" alt="{{ action.label }}"/>
            </a>
        {% endfor %}
    {% endif %}
</div>
