<div class="screen-footeractions">
    <button class="screen-action" title="Fuir" {{ live_action('exitScreen') }}>
        <img src="{{ asset('img/core/action/flee.png') }}" alt="Fuir"/>
    </button>
</div>
