<header class="sheet-header">
    <img src="{{ asset('img/core/character/' ~ character.picture) }}" class="sheet-picture" alt="{{ character.name }}"/>

    <h2 class="sheet-title">{{ this.character.name }}</h2>
</header>
