&.equipment {
  .equipped {
    position: relative;
    width: 100%;
    height: 60dvh;
    text-align: center;

    & > img {
      height: 100%;
      opacity: 0.25;
    }

    .equipped-item {
      position: absolute;
      @include displayFlex(center, center, 0.25rem, column);
      padding: 0 0.5rem;
      width: 14dvh;
      height: 14dvh;
      box-sizing: border-box;
      background-color: rgba($white, 0.5);
      border-radius: 0.5rem;
      box-shadow: inset 2px 2px 0.25rem rgba($black, 0.85);

      &.armor {
        top: 0.75rem;
        left: 0.75rem;
      }

      &.righthand {
        top: calc(14dvh + 1.5rem);
        left: 0.75rem;
        height: 26.5dvh;
      }

      &.bow {
        bottom: 0.75rem;
        left: 0.75rem;
      }

      &.amulet {
        top: 7dvh;
        right: 0.75rem;
        height: 8.5dvh;
      }

      &.lefthand {
        top: calc(14dvh + 1.5rem);
        right: 0.75rem;
        height: 26.5dvh;
      }

      &.shield {
        bottom: 0.75rem;
        right: 0.75rem;
      }

      &:has(.equip) {
        .placeholder {
          display: none;
        }
      }

      img {
        height: 80%;
        object-fit: contain;

        &.placeholder {
          opacity: 0.5;
        }
      }
    }

    .equipped-assets {
      position: absolute;
      @include displayFlex(center, center);
      width: 14dvh;
      top: 0.75rem;
      right: 0.75rem;
      @include displayGrid(repeat(3, 1fr), 0.25rem);
      align-items: center;
      height: 5dvh;

      .equipped-asset {
        @include displayFlex(center, center);
        height: 100%;
        background-color: rgba($white, 0.5);
        border-radius: 0.5rem;
        box-shadow: inset 2px 2px 0.25rem rgba($black, 0.85);

        &:has(.equip) {
          .placeholder {
            display: none;
          }
        }

        img {
          width: 75%;
          height: 70%;
          object-fit: contain;

          &.placeholder {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
