&.inventory {
  h3 {
    margin-bottom: 1rem;
  }

  .list {
    margin: 1rem 0.75rem 1rem 0.5rem;
    padding-bottom: 0.25rem;
    font-family: $font-secondary;
    font-weight: bold;
    color: $primary;
    @extend .appears;

    &.scrollable {
      max-height: 57.5dvh;
      padding-right: 0.75rem;
    }

    h4 {
      margin-bottom: 0.5rem;
      font-style: italic;
      text-align: right;
      color: $third;
    }
  }
}
