&.spells {
  h3 {
    margin-bottom: 1rem;
  }

  .list {
    margin: 0 0.5rem 1rem 1rem;
    font-family: $font-secondary;
    font-weight: bold;
    color: $primary;

    &.scrollable {
      max-height: 57.5dvh;
      padding-right: 0.75rem;
    }

    h4 {
      margin-bottom: 0.5rem;
      font-style: italic;
      text-align: right;
      color: $third;
    }

    .app-card {
      .card-header {
        img {
          margin-top: 2rem;
          height: 7.5dvh;
        }

        .bonus {
          position: absolute;
          top: 0;
          @include displayFlex(center, center);
          padding: 0.25rem 0.5rem;
          font-size: 0.85rem;

          &:first-child {
            left: 0;
            right: 50%;
            background-color: rgba($white, 0.75);
          }

          &:nth-child(2) {
            left: 50%;
            right: 0;
            color: $white;
            background-color: rgba($fourth, 0.75);
          }

          .app-icon {
            width: 1rem;
            height: 1rem;
          }
        }
      }

      .card-body {
        @include displayFlex(space-between, null, 0.25rem, column);
        flex: 1;

        .card-title {
          @include displayFlex(center, center);
          flex: 1;
          margin-bottom: 2px;
          font-size: 0.85rem;
        }
      }

      .card-footer {
        @include displayFlex(center, center);
        margin-bottom: 2px;

        .attribute {
          @include displayFlex(center, center);
          flex: 1;
          padding: 0.25rem;
          font-size: 0.85rem;
          text-align: center;
          background-color: rgba($white, 0.5);

          .app-icon {
            width: 1rem;
            height: 1rem;
          }
        }
      }
    }
  }
}
