&.back {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 2;
  @include displayFlex(center, center);
  padding: 0.25rem;
  width: 2.25rem;
  height: 2.25rem;
  color: $white;
  background-color: $secondary;
  border: 0.25rem double $secondary;
  border-radius: 50%;
  box-shadow: 2px 2px 0.25rem rgba($black, 0.85);

  &:hover,
  &:active {
    box-shadow: inset 2px 2px 0.25rem rgba($black, 0.85);
  }

  .app-icon {
    height: 1.5rem;
  }
}
