&.profile {
  .app-main {
    .app-section {
      .app-form {
        .form-fieldset {
          margin-bottom: 1.5rem;
        }

        & > p {
          margin: 1rem 0 0;

          &:last-child {
            margin: 0;
          }

          .app-button {
            &.text-danger {
              small {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
