<div class="app-screen combat" data-loading="addClass(loading)">
    <img src="{{ asset('img/chapter1/screen/' ~ this.playerCombat.combat.picture) }}" class="app-wallpaper" alt="{{ this.playerCombat.combat.name }}"/>

    {% include 'game/default/_component/_combat/_header/_index.html.twig' %}

    {% include 'game/default/_component/_combat/_main.html.twig' %}

    {% include 'game/default/_component/_combat/_footer/_index.html.twig' %}
</div>
