<div class="content details" data-content-switcher-map-target="content">
     <figure>
        <img src="{{ asset('img/chapter1/location/' ~ location.slug ~ '/' ~ location.map.picture) }}"
             alt="{{ location.name }}"/>
    </figure>
</div>
