<div class="map-footer">
    {% if hasLocationMap %}
        <a href="#"
           data-target="details"
           data-content-switcher-map-target="link"
           data-action="click->content-switcher-map#switch">
            {{ ux_icon('icon-park-solid:local', {'class': 'app-icon'}) }}
        </a>
    {% endif %}
    {% if hasRealmMap %}
        <a href="#"
           data-target="realm"
           data-content-switcher-map-target="link"
           data-action="click->content-switcher-map#switch">
            {{ ux_icon('mdi:world', {'class': 'app-icon'}) }}
        </a>
    {% endif %}
    <a href="#"
       data-target="walk"
       data-content-switcher-map-target="link"
       data-action="click->content-switcher-map#switch">
        {{ ux_icon('zondicons:travel-walk', {'class': 'app-icon'}) }}
    </a>
    <a href="#"
       data-target="travel"
       data-content-switcher-map-target="link"
       data-action="click->content-switcher-map#switch">
        {{ ux_icon('gis:world-map', {'class': 'app-icon'}) }}
    </a>
</div>
