<div class="map-footer">
    <a href="#" data-target="details" data-content-switcher-target="link" data-action="click->content-switcher#switch">
        {{ ux_icon('icon-park-solid:local', {'class': 'app-icon'}) }}
    </a>
    <a href="#" data-target="realm" data-content-switcher-target="link" data-action="click->content-switcher#switch">
        {{ ux_icon('mdi:world', {'class': 'app-icon'}) }}
    </a>
    <a href="#" data-target="travel" data-content-switcher-target="link" data-action="click->content-switcher#switch">
        {{ ux_icon('gis:world-map', {'class': 'app-icon'}) }}
    </a>
</div>
