<div class="content realm" data-content-switcher-map-target="content">
    <figure>
        <img src="{{ asset('img/chapter1/' ~ realmMap.picture) }}" alt="{{ realmMap.name }}"/>
    </figure>
</div>
