<div class="content travel" data-content-switcher-map-target="content">
    <img src="{{ asset('img/chapter1/royaume-de-lile-du-nord.webp') }}"
         class="app-cover"
         alt="{{ realmMap.name }}"/>

    <div class="links">
        <div class="title">
            <h1>Voyager</h1>
            <h2>{{ realmMap.name }}</h2>
        </div>

        <div class="app-grid two">
            {% for location in app_locationService.locations %}
                {% if location.type != 'Royaume' %}
                    <a href="#"
                       class="app-button outline {% if location not in app.user.player.visitedLocations %}invisible{% endif %}">
                        {{ location.name }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
