{% extends '_layout/map/_index.html.twig' %}

{% block title %}Carte - {{ location.name }}{% endblock %}

{% block body_class %}map sheet{% endblock %}

{% block main %}
    {% set hasRealmMap = false %}
    {% set hasLocationMap = false %}
    {% for characterItem in app_characterItemService.characterItems(app.user.player) %}
        {% if characterItem.item.slug == 'carte-du-royaume-de-lile-du-nord' %}
            {% set hasRealmMap = true %}
        {% endif %}
        {% if characterItem.item.slug == location.map.slug %}
            {% set hasLocationMap = true %}
        {% endif %}
    {% endfor %}

    <div class="app-map" data-controller="content-switcher-map">
        <div class="map-main">
            {% if hasLocationMap %}
                {% include 'game/map/_details.html.twig' %}
            {% endif %}
            {% if hasRealmMap %}
                {% include 'game/map/_realm.html.twig' %}
            {% endif %}
            {% include 'game/map/_walk.html.twig' %}
            {% include 'game/map/_travel.html.twig' %}
        </div>

        {% include 'game/map/_footer.html.twig' %}
    </div>
{% endblock %}
