{% extends '_layout/map/_index.html.twig' %}

{% block title %}Carte - {{ location.name }}{% endblock %}

{% block body_class %}map sheet{% endblock %}

{% block main %}
    <div class="app-map" data-controller="content-switcher">
        <div class="map-main">
            {% include 'game/map/_details.html.twig' %}
            {% include 'game/map/_realm.html.twig' %}
            {% include 'game/map/_travel.html.twig' %}
        </div>

        {% include 'game/map/_footer.html.twig' %}
    </div>
{% endblock %}
