<div class="screen-footerbox">
    {% if this.description %}
        {{ this.description | raw }}
    {% else %}
        <p>Vous commercez avec {{ this.playerNpc.npc.name }}.</p>
    {% endif %}
</div>
