<div class="screen-footerbox">
    {% if this.description %}
        {{ this.description | raw }}
    {% else %}
        {% if this.activeScreen.tradeType == 'trade' %}
            <p>Vous commercez avec {{ this.playerNpc.npc.name }}.</p>
        {% endif %}
    {% endif %}
</div>
