{% extends 'game/_layout/_character/_sheet/_index.html.twig' %}

{% block title %}Détails du Personnage{% endblock %}

{% block body_class %}game character sheet{% endblock %}

{% block main %}
    <section class="app-section">
        {{ component('PreGeneratedSheet', { character: character }) }}
    </section>
{% endblock %}
