<div class="app-screen trade" data-loading="addClass(loading)">
    {% if this.activeScreen.npc.location.type == 'building' %}
        <img src="{{ asset('img/core/npc/' ~ this.activeScreen.npc.picture) }}" class="app-wallpaper" alt="{{ this.activeScreen.npc.name }}"/>
    {% else %}
        <img src="{{ asset('img/chapter1/npc/' ~ this.activeScreen.npc.picture) }}" class="app-wallpaper" alt="{{ this.activeScreen.npc.name }}"/>
    {% endif %}

    {% include 'game/default/_component/_trade/_header/_index.html.twig' %}

    {% include 'game/default/_component/_trade/_main.html.twig' %}

    {% include 'game/default/_component/_trade/_footer/_index.html.twig' %}
</div>
